*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
CampoChico/target/
/out/
CampoChico/web-app/plugins
CampoChico/web-app/WEB-INF/classes
CampoChico/.classpath
CampoChico/.project
CampoChico/.settings
/.metadata
