*.iws
*Db.properties
*Db.script
.classpath
eclipse
target
stacktrace.log
/*.zip
/plugin.xml
/*.log
**/target/**
/out/
CampoChico/web-app/plugins
CampoChico/web-app/WEB-INF/classes
CampoChico/.classpath
CampoChico/.settings
/.metadata

